@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }


body {
  background-color: #00a8c6;
  color: #f9f2e7;
  font-family: 'Rubik', sans-serif;
}

.title {
  font-weight: 700!important;
}

.mensagem:last-child{
  border-bottom: none;
}

.chat {
  max-width: 600px;
}

.title-footer {
  font-size: 16px;
  color: #000;
  margin-right: .5rem;
}

footer {
  border-radius: .2rem;
}